@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme inline {
  --color-lime-green: var(--lime-green);
  --color-bright-red: var(--bright-red);
  --color-facebook: var(--facebook);
  --color-twitter: var(--twitter);
  --color-instagram-start: var(--instagram-start);
  --color-instagram-end: var(--instagram-end);
  --color-youtube: var(--youtube);

  --color-toggle-dark-start: var(--toggle-dark-start);
  --color-toggle-dark-end: var(--toggle-dark-end);
  --color-toggle-light: var(--toggle-light);

  --color-theme-top-bg: var(--theme-top-bg);
  --color-theme-light-top-bg: var(--theme-light-top-bg);
  --color-theme-card: var(--theme-card);
  --color-theme-text: var(--theme-text);
  --color-theme-text-muted: var(--theme-text-muted);
  --color-theme-border: var(--theme-border);

  --background-image-bg: var(--gradient-primary);
}

@layer base {
  :root {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram-start: hsl(37, 97%, 70%);
    --instagram-end: hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);

    --toggle-dark-start: hsl(210, 78%, 56%);
    --toggle-dark-end: hsl(146, 68%, 55%);
    --toggle-light: hsl(230, 22%, 74%);

    --theme-top-bg: hsl(225, 100%, 98%);
    --theme-light-top-bg: hsl(225, 100%, 98%);
    --theme-card: hsl(227, 47%, 96%);
    --theme-text: hsl(230, 17%, 14%);
    --theme-text-muted: hsl(228, 12%, 44%);
    --theme-border: hsl(227, 47%, 96%);

    --dark-bg: hsl(230, 17%, 14%);
    --dark-top-bg: hsl(232, 19%, 15%);
    --dark-card-bg: hsl(228, 28%, 20%);
    --dark-text: hsl(228, 34%, 66%);
    --dark-white: hsl(0, 0%, 100%);

    --light-bg: hsl(0, 0%, 100%);
    --light-top-bg: hsl(225, 100%, 98%);
    --light-card-bg: hsl(227, 47%, 96%);
    --light-text: hsl(228, 12%, 44%);
    --light-title: hsl(230, 17%, 14%);

    --instagram-gradient: linear-gradient(
      90deg,
      var(--instagram-start) 0%,
      var(--instagram-end) 100%
    );
    --dark-toggle-gradient: linear-gradient(
      90deg,
      var(--toggle-dark-start) 0%,
      var(--toggle-dark-end) 100%
    );
  }

  .dark-mode {
    color: var(--dark-white);
    background-color: var(--dark-bg);
  }

  body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: var(--light-bg);
    color: var(--light-title);
  }
}
